body {
  height: 100bh;
  width: 100vw;
}

.container {
  display: flex;
  flex: 2;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 11;
}
.navbar {
  display: flex;
  background-color: rgb(221, 216, 216);
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.title {
  flex: 25;
}

.title div {
  height: 40px;
  width: 150px;
  margin-left: 30px;
  background-color: rgb(187, 179, 179);
}

.avtar {
  flex: 1;
}

.avtar div {
  height: 45px;
  width: 45px;
  background-color: rgb(199, 191, 191);
  border-radius: 80px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(221, 216, 216);
  height: 100bh;
  padding-block: 60px;
  width: 230px;
}

.sidebarItem {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-inline: 30px;
}

.profileImage {
  display: flex;
  flex: 4;
  height: 2px;
  margin-bottom: 70px;
  border-radius: 133px;
  background-color: rgb(199, 191, 191);
}

.sideNav {
  display: flex;
  flex: 1;
  height: 40px;
  margin-top: 30px;
  background-color: rgb(199, 191, 191);
}

.sidebarLogo {
  height: 40px;
  margin-top: 130px;
  background-color: rgb(199, 191, 191);
}

.main {
  display: flex;
  flex-direction: column;
  padding-inline: 30px;
  padding-block: 15px;
}

.graphs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  /* justify-content: space-between; */
  padding-block: 20px;
  position: relative;
}

.graph {
  display: flex;
  flex-direction: column;
  background-color: rgb(221, 216, 216);
  border-radius: 3px;
  padding: 20px;
}

.graphCategory {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.category {
  height: 40px;
  flex: 1;
  margin-right: 20px;
  background-color: rgb(199, 191, 191);
}
.category:nth-child(3) {
  margin-right: 0px;
}

.graphContent {
  display: flex;
  justify-content: center;
  height: 247px;
  background-color: rgb(199, 191, 191);
}

.cards {
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto auto auto;
  padding-block: 40px;
}

.card {
  background-color: rgb(221, 216, 216);
  flex: 1;
  height: 170px;
  border-radius: 3px;
}

.table {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 30px;
  background-color: rgb(221, 216, 216);
  border-radius: 3px;
  justify-content: center;
}

.tableRow {
  background-color: rgb(199, 191, 191);
  height: 40px;
  margin-top: 10px;
}

@media only screen and (max-width: 900px) {
  .graphs {
    grid-template-columns: auto auto;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .sidebar {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .content {
    display: flex;
    flex-direction: column;
    flex: 10;
  }

  .graphs {
    grid-template-columns: auto auto;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .sidebar {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .graphs {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .sidebar {
    display: none;
  }
}

@media only screen and (max-width: 300px) {
  .graphs {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .sidebar {
    display: none;
  }
}

@media only screen and (max-width: 200px) {
  .graphs {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .sidebar {
    display: none;
  }
}
